@media screen
{ 
	/* CSS Reset */
	*, *:after, *:before
	{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

body
{
	color: #000000;
	background: #FFFFFF;
	text-align: center;
	font-family: Verdana, Arial;
}

div.document { text-align: left; page-break-after: always; }

div.document-jurisdiction { text-align: right; font-style: italic; }
div.document-title        { text-align: center; text-transform: uppercase; font-weight: bold; font-size: 120%; padding: 30pt 0pt; }

div.chapter-header { padding-top: 18pt; font-weight: bold; }
div.article        { padding-top: 12pt; text-align: justify; }
div.subarticle        { padding-top: 12pt; text-align: justify; }
span.id { float: left; display: inline-block; margin-right: 10pt; }
span.body { text-align: justify; }

div.history { background-color: white; padding: 50pt 80pt; text-align: left; margin-bottom: 10pt; }

div.history table { width: 100%; border-collapse: collapse; }
div.history table th, td { border: 1px solid black; text-align: center; }
td.description { text-align: left; }

div.controls { display: none; }

button { padding: 2pt; }


a { color: black; text-decoration: none; }

@media screen
{
	body { background-color: gray; overflow-y: scroll; }
	div.container { display: inline-block;  }
	div.document { background-color: white; }
	div.document { width: 750pt;  margin: 10pt 0; padding: 50pt 80pt; }
	div.log { width: 750pt; }
	div.controls { display: block; }
	a:hover { color: blue; }
}
